# U.S. Medical Insurance Costs

In [1]:
# Import dependencies
import csv
import pandas as pd

In [2]:
# Read in csv
file = "insurance.csv"
file_df = pd.read_csv(file)

file_df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
# Check datatypes
file_df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [4]:
# Make lists of fields
age = file_df["age"].tolist()
sex = file_df["sex"].tolist()
bmi = file_df["bmi"].tolist()
children = file_df["children"].tolist()
smoker = file_df["smoker"].tolist()
region = file_df["region"].tolist()
charges = file_df["charges"].tolist()

In [5]:
record = []
i = 0
while i < len(age):
    record.append(i+1)
    i += 1

# Create dictionary of all patient records
medical_records = {}
for record in record:
    medical_records[record] = {"Age":age[record-1], "Sex":sex[record-1], "BMI":bmi[record-1], "Children":children[record-1], 
                               "Smoker":smoker[record-1], "Region":region[record-1], "Charges":charges[record-1]}